[config]

TARGET_EMAILS_LIST=mohsinalisep@gmail.com,aliey8998@gmail.com,mohsinalisep@gmail.com,aliey8998@gmail.com,mohsinalisep@gmail.com,aliey8998@gmail.com,mohsinalisep@gmail.com,aliey8998@gmail.com,mohsinalisep@gmail.com,aliey8998@gmail.com,mohsinalisep@gmail.com,aliey8998@gmail.com,mohsinalisep@gmail.com,aliey8998@gmail.com

NUMBER_OF_CHUNKS=2

SCHEDULE=DATE:MONTH:YEAR HOUR:MINUTE TIMEZONE(optional)

SENDER_NAME=Some Guy

SENDER_EMAIL=someone@mail.com

SENDER_PASSWORD=somepassword

LOGS_FOLDER_PATH=/tmp
# smtp.gmail.com, smtp.live.com, smtp.office365.com	
SMTP_HOST=smtp.gmail.com

SMTP_PORT=587

TEST_RECIPIENT_EMAIL=test_email@gmail.com

TEST_RECIPIENT_NAME=Test Guy 