[config]

TARGET_EMAILS=mohsinalisep@gmail.com,aliey8998@gmail.com

NUMBER_OF_CHUNKS=2

SCHEDULE=DATE:MONTH:YEAR HOUR:MINUTE TIMEZONE(optional)

SENDER_NAME=Some Guy

SENDER_EMAIL=aliey8998@gmail.com

SENDER_PASSWORD=wxj0541aqw

LOGS_FOLDER_PATH=/tmp
# smtp.gmail.com, smtp.live.com, smtp.office365.com	
SMTP_HOST=smtp.gmail.com

SMTP_PORT=587

TEST_RECIPIENT_EMAIL=test_email@gmail.com

TEST_RECIPIENT_NAME=Test Guy 